@import "../../../variables.scss";

.header {
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 5px solid $color-primary;
  background: $color-primary-lighter;
  color: $color-primary;
  font-family: $font-headers;
  font-size: 1.2rem;

  &--wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 650px){
      justify-content: space-between;
    }
  }

  &--logo {
    width: 300px;
  }

  &--nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    

    a {
      margin: 0 1rem;
      transition: transform 300ms;
      &:hover {
        transform: translateY(0.3rem);
      }
    }
    &--notifs {
      position: relative;
      &--number {
        position: absolute;
        top: -1em;
        right: -1em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5em;
        height: 1.5em;
        font-size: 0.8rem;
        background-color: $color-danger-lighter;
        color: $color-danger;
        border: 1px solid $color-danger;
        border-radius: 50%;
      }
    }

    .fas {
      font-size: 1.2em;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid $color-primary;
    }

  }
}