<header class="header">
  <div class="main-wrapper header--wrapper">
    <div>
      <a routerLink="/home" aria-label="Retour vers la page d'accueil">
        <img  class="header--logo" src="./assets/logo.svg" alt="Groupomania">
      </a>
    </div>

    <!-- Si l'utilisateur n'est pas encore loggé -->
    <nav *ngIf="!authService.user" class="header--nav">
      <a routerLink="/login">S'identifier</a>
      <a routerLink="/signin">S'inscrire</a>
    </nav>

    <!-- Si l'utilisateur est loggé -->
    <nav *ngIf="authService.user" class="header--nav">
      <a href="#" aria-label="Équipe">
        <i class="fas fa-users"></i>
      </a>
      <a href="#" aria-label="Notifications">
        <i class="fas fa-bolt"></i>
      </a>
      <a class="header--nav--profile" href="#">
        <img [src]="authService.user.pictureUrl" alt="Photo de profil">
        <div>
          <p>{{authService.user.name}}</p>
          <p>Voir mon profil</p>
        </div>
      </a>
    </nav>
  </div>
</header>