<main class="main-wrapper">
  <div class="login">
    <form class="login--form" [formGroup]='signInForm' (ngSubmit)="onSubmit()">
      <h1>Identifiez-vous</h1>
      <fieldset>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email">
      </fieldset>
      <fieldset>
        <label for="password">Mot de passe</label>
        <input id="password" type="password" formControlName="password">
      </fieldset>
      <button class="btn" type="submit" [disabled]="signInForm.invalid">Se connecter</button>
    </form>
    <p>Pas encore inscrit ? <a routerLink="/signin">Créer un compte</a></p>
  </div>
</main>