.login {
  max-width: 500px;
  margin: 2em auto;

  &--form {
    border: 1px solid #145db4;
    border-radius: 5px;
    background: #fff;
    padding: 1.5em 2em;

    fieldset {
      border: none;
      margin: 1em 0;
    }

    label {
      display: block;
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #145db4;
      &:focus {
        border: none;
        border-bottom: 3px solid #145db4;
      }
    }

    .btn {
      display: block;
      margin: auto;
      padding: 0.7em 1.5em;
      background: #DAE9FB;
      border: 1px solid #145db4;
      border-radius: 5px;
    }
  }
  p {
    text-align: center;
    margin-top: 0.5em;
  }
  a {
    color: #145db4;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}