.publications {
  h1 {
    text-align: center;
  }
  &--add {
    max-width: 800px;
    margin: 1em auto;
    padding: 1em 2em;
    background: #fff;
    border: 1px solid #145db4;
    border-radius: 10px;
    textarea {
      width: 100%;
      height: 7em;
      margin: 1em 0;
      padding: 1em;
      resize: none;
    }
    .buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
    .btn {
      display: block;
      padding: 0.5em 1.5em;
      border: 1px solid #145db4;
      border-radius: 10px;
      background: #DAE9FB88;
      cursor: pointer;
      &:hover {
        background: #bedbff;
      }
    }
    input {
      display: none;
    }

    .cropper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #fff;
  
      &.hidden {
        display: none;
      }
  
      button {
        position: fixed;
        right: 5%;
        bottom: 5%;
      }
    }
    .image-preview {
      width: 100%;
      margin-top: 1em;
    }
  }

  &--list {
    article {
      background: #fff;
      border: 1px solid #145db4;
      border-radius: 10px;
      overflow: hidden;
      margin: 2em auto;
      max-width: 800px;
      header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 1em;
        img {
          width: 80px;
          margin-right: 20px;
        }
        .name {
          font-weight: bold;
          color: #145db4;
        }
        .date {
          font-style: italic;
        }
      }
      main {
        img {
          width: 100%;
        }
        .content {
          padding: 1em 2em;
          text-align: justify;
        }
      }
      footer {
        .likes {
          button {
            padding: 0.5em;
            width: 50%;
            background: #DAE9FB88;
            border: none;
            border-top: 1px solid #145db4;
            border-bottom: 1px solid #145db4;
            color: #888;
            cursor: pointer;
            &:hover {
              background: #bedbff;
            }
            &:first-child {
              border-right: 1px solid #145db4;
            }
            .fas {
              font-size: 1.2em;
            }
          }
          .alreadyLiked {
            color:#35b53d;
          }
          .alreadyDisliked {
            color: #e64949;
          }
        }
        .comments {
          padding: 1em 2em;
          clear: both;
          &--comment {
            margin: 0.7em 0;
            display: flex;
            flex-flow: row nowrap;
          }
          img {
            width: 60px;
            border-radius: 50%;
            float: left;
            margin-right: 1em;
          }
          p {
            text-align: justify;
          }
          .title {
            font-style: italic;
            span {
              color: #145db4;
            }
          }
          &--add {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            img {
              flex-shrink: 0;
            }
            input {
              flex-grow: 2;
              min-width: 0;
              padding: 0 1em;
              border: 1px solid #145db4;
              height: 3rem;
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }
            button {
              background: #DAE9FB88;
              border: 1px solid #145db4;
              border-left: none;
              height: 3rem;
              width: 3rem;
              font-size: 1.2em;
              color: #888;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              cursor: pointer;
              &:hover {
                background: #bedbff;
              }
            }
          }
        }
      }
    }
    
  }
}