.profile {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #bbb;
  background: #fff;

  h1 {
    margin-bottom: 1rem;
    text-align: center;
  }
  h2 {
    margin-bottom: 1rem;
  }
  .btn {
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 0.7em 1.5em;
    background: #DAE9FB;
    border: 1px solid #145db4;
    border-radius: 5px;
    &:hover {
      box-shadow: inset 0 0 10px #aaa;
    }
  }
  .btn-danger {
    background: #c52d2255;
    &:hover {
      box-shadow:  0 0 10px rgb(255, 0, 0);
      color: red;
    }
  }
  .btn-admin {
    width: 100%;
    margin: 0.5em 0;
    &__danger{
      background: #c52d2255;
    }
  }
  .label-file {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }
  .input-file {
    display: none;
  }
  .mt {
    margin-top: 1em;
  }

  &--top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    &>div {
      margin: 1em;
    }
  }

  &--image {
    img {
      width: 100%;
      max-width: 350px;
      border: 1px solid #145db4;
    }
  }

  &--description {
    width: 100%;
    max-width: 350px;
    form {
      margin-top: 2em;
      border: 1px solid #145db4;
      border-radius: 10px;
      overflow: hidden;
    }
    textarea {
      width: 100%;
      height: 7em;
      resize: none;
      border: none;
      padding: 1em;
    }
    .description-btn {
      width: 100%;
      margin-top: 0;
      border: none;
      border-radius: 0;
    }
  }

  &--bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    &>div {
      margin: 1em;
      max-width: 350px;
    }
    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #145db4;
      margin-bottom: 1em;
      &:focus {
        border: none;
        border-bottom: 3px solid #145db4;
      }
      &:invalid {
        border-bottom: 3px solid #c52d22;
      }
    }
  }

  &--delete-confirm {
    padding-top: 1em;
    text-align: center;
    &__hidden {
      display: none;
    }
  }

}