<main class="main-wrapper">
  <section class="profile">
    <h1>{{userDetails.name}}</h1>
    <hr>
    <div class="profile--top">
      <div class="profile--image">
        <!--  ################### PHOTO DE PROFIL ################### -->
        <h2>Photo de profil</h2>
        <img [src]="userDetails.pictureurl === null ? './assets/anonymousUser.svg' : userDetails.pictureurl" alt="Photo de profil de {{userDetails.name}}">
        <form *ngIf="userDetails.id === authService.user.userId">
          <label for="picture" class="btn label-file" aria-label="Changer sa photo de profil">Changer ma photo de profil</label>
          <input 
            type="file"
            accept="image/*"
            id="picture"
            class="input-file"
            (change)="imageService.fileChangeEvent($event)">
        </form>
      </div>
      <div class="profile--description">
        <!--  ################### EMAIL ################### -->
        <h2>E-mail</h2>
        <p class="profile--email">{{userDetails.email}}</p>
        <!--  ################### DESCRIPTION ################### -->
        <h2 class="mt">Description</h2>
        <p>{{userDetails.outline === null ? 'Pas de description' : userDetails.outline}}</p>
        <form (submit)="onUpdateOutline($event)" *ngIf="userDetails.id === authService.user.userId">
          <label for="update-description" class="hidden">Description</label>
          <textarea id="update-description" name="outline" placeholder="Votre nouvelle description"></textarea>
          <button type="submit" class="btn description-btn">
            Changer ma description
          </button>
        </form>
        <div *ngIf="authService.user.isAdmin === 1">
          <!--  ################### DROITS d'ADMIN ################### -->
          <h2 class="mt">Droits d'administration</h2>
          <p *ngIf="this.userDetails.isadmin === 1">{{userDetails.name}} est admin</p>
          <p *ngIf="this.userDetails.isadmin === 0">{{userDetails.name}} n'est pas admin</p>
          <button class="btn btn-admin" (click)="onChangeAdmin(1)" *ngIf="this.userDetails.isadmin === 0">Donner les droits d'admin</button>
          <button class="btn btn-admin btn-admin__danger" (click)="onChangeAdmin(0)" *ngIf="this.userDetails.isadmin === 1">Retirer les droits d'admin</button>
        </div>
      </div>
    </div>
    <hr *ngIf="userDetails.id === authService.user.userId">
    <div class="profile--bottom" *ngIf="userDetails.id === authService.user.userId">
      <div>
        <!--  ################### MOT DE PASSE ################### -->
        <h2>Changer de mot de passe</h2>
        <form  [formGroup]='passwordChangeForm' (ngSubmit)="onChangePassword()">
          <label for="oldPassword">Mot de passe actuel
            <input type="password" id="oldPassword" formControlName="oldPassword">
          </label>
          <label for="newPassword">Nouveau mot de passe
            <input type="password" id="newPassword" formControlName="newPassword">
          </label>
          <button type="submit" class="btn"  [disabled]="passwordChangeForm.invalid">Enregistrer</button>
        </form>
      </div>
      <div>
        <!--  ################### SUPPRESSION COMPTE ################### -->
        <h2>Supprimer mon compte</h2>
        <button class="btn btn-danger" (click)="onDeleteClicked()">Supprimer</button>
        <div id="delete-confirm" class="profile--delete-confirm profile--delete-confirm__hidden">
          <p>Êtes-vous vraiment sûr?<br>(impossible de revenir en arrière)</p>
          <button class="btn btn-danger" (click)="onDeleteConfirmed()">Oui, supprimer</button>
        </div>
      </div>
    </div>
    <div id="cropper" class="profile--cropper hidden">
      <image-cropper
        class="profile--cropper--preview"
        [imageChangedEvent]="imageService.imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        format="png"
        resizeToWidth="400"
        (imageCropped)="imageService.imageCropped($event)"
        (imageLoaded)="imageService.imageLoaded()"
        (loadImageFailed)="imageService.loadImageFailed()"
    ></image-cropper>
    <button class="btn" (click)="onCroppedImageDone()">Valider</button>
    </div>
  </section>


  <!-- ################### LISTE DES DERNIERES PUBLICATIONS ################### -->
  <section class="publications--list">
    <article *ngFor="let post of posts">
      <!-- Header Publication : photo de profil, nom, date, et delete -->
      <header>
        <div>
          <a routerLink="/profile/{{post.userId}}">
            <img
              [src]="post.userPicture===null ? './assets/anonymousUser.svg' : post.userPicture"
              alt="Photo de profil de {{post.userName}}">
          </a>
        </div>
        <div class="text">
          <p class="name">
            <a routerLink="/profile/{{post.userId}}">{{post.userName}}</a>
          </p>
          <p class="date">
            Publié le {{post.postDate | date: "dd/MM/y à HH:mm" : "UTC+2"}}
          </p>
        </div>
        <form
          class="delete-post"
          *ngIf="post.userId === authService.user.userId || authService.user.isAdmin === 1"
          (submit)="onDeletePublication($event)">
          <input type="hidden" name="PostId" [value]="post.postId">
          <button type="submit" aria-label="Supprimer la publication"><i class="fas fa-trash"></i></button>
        </form>
      </header>
      <!-- Main Publication : Photo et/ou contenu -->
      <main>
        <div *ngIf="post.postImage !== null" class="picture">
          <img [src]="post.postImage" alt="Photo de la publication">
        </div>
        <div *ngIf="post.postContent !== null" class="content">
          <p>{{post.postContent}}</p>
        </div>
      </main>
      <!-- Footer Publication : likes et commentaires -->
      <footer>
        <div class="likes">
          <form (submit)="onlike($event)">
            <input type="hidden" name="postId" [value]="post.postId">
            <input type="hidden" name="rate" [value]="post.likes.currentUserReaction === 1 ? 0 : 1">
            <button type="submit" [ngClass]="post.likes.currentUserReaction === 1 ? 'alreadyLiked' : ''" aria-label="like la publication">
              <i class="fas fa-thumbs-up"></i>
              {{post.likes.LikesNumber}}
            </button>
          </form>
          <form (submit)="onlike($event)">
            <input type="hidden" name="postId" [value]="post.postId">
            <input type="hidden" name="rate" [value]="post.likes.currentUserReaction === -1 ? 0 : -1">
            <button type="submit" [ngClass]="post.likes.currentUserReaction === -1 ? 'alreadyDisliked' : ''" aria-label="dislike la publication">
              <i class="fas fa-thumbs-down"></i>
              {{post.likes.DislikesNumber}}
            </button>
          </form>
        </div>
        <div class="comments">
          <h3>Commentaires</h3>
          <div *ngFor="let comment of post.comments" class="comments--comment">
            <div>
              <img
                [src]="comment.userPicture===null ? './assets/anonymousUser.svg' : comment.userPicture"
                alt="Photo de profil de {{comment.userName}}">
            </div>
            <div class="comments--comment--fluid">
              <p class="title">
                <span>{{comment.userName}}</span> le {{comment.commentDate | date: "dd/MM/y à HH:mm" : "UTC+2"}}
              </p>
              <p>
                {{comment.commentContent}}
              </p>
            </div>
            <form
              class="comments--comment--delete"
              *ngIf="comment.userId === authService.user.userId || authService.user.isAdmin === 1"
              (submit)="onDeleteComment($event)">
              <input type="hidden" name="PostId" [value]="comment.commentId">
              <button type="submit" aria-label="Supprimer du commentaire"><i class="fas fa-trash"></i></button>
            </form>
          </div>
          <form class="comments--add" (submit)="onAddComment($event)">
            <img [src]="authService.user.pictureUrl===null ? './assets/anonymousUser.svg' : authService.user.pictureUrl" alt="Votre photo de profil">
            <label [for]="'add-comment-' + post.postId" class="hidden">Votre commentaire</label>
            <input [id]="'add-comment-' + post.postId" type="text" placeholder="Votre commentaire">
            <input type="hidden" name="postId" [value]="post.postId">
            <button type="submit" aria-label="Envoyer"><i class="fas fa-plus-circle"></i></button>
          </form>
        </div>
      </footer>
    </article>
  </section>

</main>
