@import "../../../variables.scss";

.hidden {
  display: none;
}
article {
  background: $color-cards-background;
  box-shadow: $shadow;
  border-radius: 10px;
  overflow: hidden;
  margin: 2em auto;
  max-width: 800px;
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    img {
      width: 80px;
      margin-right: 20px;
    }
    .text {
      flex-grow: 2;
    }
    .name {
      font-weight: bold;
      color: $color-primary;
    }
    .date {
      font-style: italic;
    }
    .delete-post {
      button {
        padding: 0.5em 0.7em;
        border: 1px solid $color-danger;
        border-radius: 10px;
        background: $color-danger-lighter;
        cursor: pointer;
        &:hover {
          background: $color-danger-light;
        }
      }
      .fas {
        font-size: 1.2em;
        color: $color-danger;
      }
    }
  }
  main {
    img {
      width: 100%;
    }
    .content {
      padding: 1em 2em;
    }
  }
  footer {
    .likes {
      form {
        display: inline-block;
        width: 50%;
        &:first-child {
          border-right: 1px solid $color-primary;
        }
      }
      button {
        padding: 0.5em;
        width: 100%;
        background: $color-primary-lighter;
        border: none;
        border-top: 1px solid $color-primary;
        border-bottom: 1px solid $color-primary;
        color: $color-like-neutral;
        cursor: pointer;
        &:hover {
          background: $color-primary-light;
        }
        
        .fas {
          font-size: 1.2em;
        }
      }
      .alreadyLiked {
        color: $color-like-like;
      }
      .alreadyDisliked {
        color: $color-like-dislike;
      }
    }
    .comments {
      padding: 1em 2em;
      clear: both;
      &--comment {
        margin: 0.7em 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        &--fluid {
          flex-grow: 2;
        }
        &--delete {
          button {
            margin-left: 0.5em;
            padding: 0.5em 0.7em;
            border: 1px solid $color-danger;
            border-radius: 10px;
            background: $color-danger-lighter;
            cursor: pointer;
            &:hover {
              background: $color-danger-light;
            }
          }
          .fas {
            font-size: 1.2em;
            color: $color-danger;
          }
        }
      }
      img {
        width: 60px;
        border-radius: 50%;
        float: left;
        margin-right: 1em;
      }
      .title {
        font-style: italic;
        span {
          color: $color-primary;
        }
      }
      
      &--add {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        img {
          flex-shrink: 0;
        }
        input {
          flex-grow: 2;
          min-width: 0;
          padding: 0 1em;
          border: 1px solid $color-primary;
          height: 3rem;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        button {
          background: $color-primary-lighter;
          border: 1px solid $color-primary;
          border-left: none;
          height: 3rem;
          width: 3rem;
          font-size: 1.2em;
          color: $color-add-comment;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          cursor: pointer;
          &:hover {
            background: $color-primary-light;
          }
        }
      }
    }
  }
}