// Couleurs
$color-main-text: #333;
$color-back-background: #eee;
$color-cards-background: #fff;

$color-primary: #234982;
$color-primary-light: lighten($color-primary, 45%);
$color-primary-lighter: lighten($color-primary, 60%);

$color-danger: #bb2b35;
$color-danger-light: lighten($color-danger, 30%);
$color-danger-lighter: lighten($color-danger, 50%);

$color-like-neutral: #656565;
$color-like-like: $color-primary;
$color-like-dislike: $color-danger;

$color-add-comment: $color-like-neutral;


// Fonts
$font-headers: 'Baloo Chettan 2', cursive;
$font-body: "Roboto", sans-serif;

// Shadow
$shadow: 0 0 13px #555;