<main class="main-wrapper users">
  <h1>Notre équipe</h1>
  <section class="users--search">
    <label for="search-user"><i class="fas fa-search"></i><span class="hidden">Recherche un utilisateur</span></label>
    <input 
      id="search-user"
      type="text"
      placeholder="Rechercher un collègue"
      aria-label="Rechercher un collègue"
      #searchBox
      (input)="searchUser(searchBox.value)">
  </section>
  <section class="users--display">
    <a *ngFor="let user of usersService.users"
      [routerLink]="'/profile/' + user.id"
      class="users--display--card" >
      <img [src]="user.pictureurl===null ? './assets/anonymousUser.svg' : user.pictureurl "
      alt="Photo de profil de {{user.name}}">
      <p>{{user.name}}</p>
    </a>
  </section>
</main>
