@import "../../../variables.scss";
.hidden {
  display: none;
}
.users {
  h1 {
    text-align: center;
  }
  &--search {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin: 2em auto;
    padding: 0.5em 1em;
    max-width: 650px;

    border: 2px solid $color-primary;
    border-radius: 2em;
    background: $color-cards-background;
    overflow: hidden;

    label {
      font-size: 1.3em;
      margin-right: 1em;
      color: $color-primary;
    }
    input {
      width: 100%;
      border: none;
      background: none;
      &:focus {
        border: none;
      }
    }
  }

  &--display {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    a {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 310px;
      margin: 1em 1.5em;
      padding: 0.5em;
      border-radius: 10px;
      box-shadow: $shadow;
      background: $color-cards-background;
      transition: transform 200ms;
      &:hover {
        transform: scale(1.03);
      }
    }
    img {
      max-width: 75px;
      max-height: 75px;
      margin-right: 2em;
      flex-shrink: 0;
    }
  }
}